/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.light-background {
    background-color: #e0daca !important;
}

.soft-background {
    background-color: #d9d3c4 !important;
}

.medium-background {
    background-color: #95783e !important;
}

.light-color {
    color: #e0daca !important;
}

.soft-color {
    color: #d9d3c4 !important;
}

.medium-color {
    color: #95783e !important;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;

    & img {
        height: 6rem;
    }
}

ul {
    :hover {
        color: black !important;
        background-color: #e0daca !important;
    }
}

select, select::picker(select) {
  appearance: base-select;
  border: none;
}
select::picker-icon {
    display: block;
    content:icon('');
}

option {
    background-color: #e0daca;
}
option::checkmark{
    display: none;
}

/* Agora você pode mudar o fundo no hover */
option:hover {
  background-color: transparent; 
  color: #95783e;
}

.padding-container {
    padding: 0 20%;
}

.buy-product {
    height: 20rem;
}

.products {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.dmaria-card {
    width: 20rem !important;
    height: 35rem !important;

    & button {
        color: white;
    }
}

.card-img {
    width: 100%;
    height: 27rem !important;
    object-fit: cover;
    display: block;
}

.price-and-expand {
    align-self: flex-end;
}

.request-button {
    background-color: #25D366 !important;

    & i {
        font-size: 2rem;
    }
}


@media screen and (max-width: 767px) {
    .padding-container {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .padding-container {
        padding: 0 4rem;
    }
}