/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.light-background {
    background-color: #e0daca !important;
}

.soft-background {
    background-color: #d9d3c4 !important;
}

.medium-background {
    background-color: #95783e !important;
}

.light-color {
    color: #e0daca !important;
}

.soft-color {
    color: #d9d3c4 !important;
}

.medium-color {
    color: #95783e !important;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    & img {
        height: 6rem;
    }
}

.padding-container {
        padding: 0 20%;
}

.buy-product{
    height: 20rem;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.products{
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.dmaria-card{
    width: 20rem;
    max-height: 35rem;
    & button{
        color: white;
    }
}

.request-button{
    background-color: #25D366 !important;

    & i{
        font-size: 2rem;
    }
}


@media screen and (max-width: 767px) {
    .padding-container {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .padding-container {
        padding: 0 4rem;
    }
}

