/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.light-background{
    background-color: #e0daca !important;
}
.soft-background{
    background-color: #d9d3c4 !important;
}
.medium-background{
    background-color: #95783e !important;
}

.light-color{
    color: #e0daca !important;
}
.soft-color{
    color: #d9d3c4 !important;
}
.medium-color{
    color: #95783e !important;
}

header{
    & img{
        height: 6rem;
    }
}